body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  @include fontsize(1.4);
  line-height: 1.6;
  color: $brack;
}
h1 {
  @include fontsize(1.4);
}
h2 {
  @include fontsize(1.4);
}

input:focus {
outline: 0;
}

/*404*/
.error {
  margin: 20px 3%;
  text-align: center;
  h1 {
    @include fontsize(1.6);
    text-align: center;
    border: 2px solid #cede68;
  }
  img {
    margin: 20px auto;
    width: 80%;
  }
  p {
    @include fontsize(1.4);
    text-align: left;
  }
}
/*error_message*/
.error_message p {
  color: #ff0000;
  padding: 3% 3%;
}
