/*favorite*/
.favorite {
  a {
    position: static;
    display: block;
    color: $brack;
    text-decoration: none;
    z-index: 100;
  }
  &.edit {
    .favorite_lists {
      .favorite_check_btn {
        display: block;
      }
    }
    .favorite_btn {
      li {
        &.btn_edit {
          display: none;
        }
        &.btn_cancel {
          display: block;
        }
        &.btn_delete {
          display: none;
        }
      }
    }
  }
  /*favorite_btn*/
  .favorite_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    li {
      list-style: none;
      display: block;
      border: none;
      margin-top: 20px;
      input[type="submit"],input[type="reset"] {
        -webkit-appearance: none;
        @include border_radius(30);
        @include fontsize(1.4);
        border: 2px solid #fff;
        display: block;
        height: 60px;
        width: 60px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background: #f5a623;
      }
      &.btn_edit {
        position: relative;
        #btn_edit {
          background: url(#{$img_path}icon_edit.svg) no-repeat center 9px #69c711;
          background-size: 40% auto;
          height: 0;
          padding-top: 56px;
          overflow: hidden;
        }
        p {
          @include fontsize(1.1);
          font-weight: bold;
          position: absolute;
          top: 35px;
          left: 19px;
          color: #fff;
        }
      }
      &.btn_delete {
        @extend .btn_edit;
        display: none;
        #btn_delete {
          background: #ea7d95;
          height: 0;
          padding-top: 56px;
          overflow: hidden;
        }
        p {
          &:before {
            position: absolute;
            content: url(#{$img_path}icon_trash.svg);
            top: -31px;
            left: 0px;
            display: block;
            height: 30px;
            width: 23px;
          }
          top: 38px;
          left: 19px;
        }
      }
      &.btn_cancel {
        @extend .btn_edit;
        position: fixed;
        display: none;
        bottom: 10px;
        right: 10px;
        #btn_cancel {
          @include fontsize(1.1);
          background: #F98500;
          background-size: 40% auto;
          height: 60px;
          padding-top: 0;
          overflow: visible;
        }
      }
    }
  }
}

/*favorite_list*/
.favorite_list {
  .favorite_lists {
    position: relative;
    input[type=checkbox]{
      display: none;
      position: absolute;
      width: 100%;
      width: 100vw;
      height: 100%;
      &:checked + .favorite_check_btn {
        position: absolute;
        width: 100%;
        width: 100vw;
        height: 100%;
        background: url(#{$img_path}check_circle_active.svg) no-repeat 5px center rgba(249, 230, 175, 0.22);
        font-size: inehrit;
      }
    }
    .favorite_check_btn {
      position: absolute;
      display: none;
      width: 100%;
      width: 100vw;
      height: 100%;
      background: url(#{$img_path}check_circle.svg) no-repeat 5px center;
    }
    dl {
      height: 100px;
      display: table;
      table-layout: fixed;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $boder_white;
      dt {
        display: table-cell;
        width: 122px;
        padding-left: 10px;
        vertical-align: middle;
        img {
          height: 80px;
          width: auto;
          vertical-align: middle;
        }
      }
      dd {
        @include fontsize(1.1);
        padding: 0 10px 0 5px;
        display: table-cell;
        vertical-align: top;
        .food_name {
          @include fontsize(1.2);
          font-weight: bold;
          background: url(#{$img_path}icon_food.svg) no-repeat center left;
          padding-left: 20px;
          border-bottom: 2px solid $food_yellow;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 4px;
        }
        .baby_name {
          @extend .food_name;
          background: url(#{$img_path}icon_baby.svg) no-repeat center left;
          background-size: 18px auto;
          border-bottom: 2px solid $baby_pink;
        }
        /*signage_baby*/
        .signage_baby {
          margin: 0;
          display: inline;
          li {
            @include border_radius(100);
            @include fontsize(1.1);
            font-weight: bold;
            text-align: center;
            padding: 1%;
            margin: 0 2px 2px 0;
            display: inline-block;
            border: 2px solid $baby_pink;
            color: $baby_pink;
            min-width: 24px;
          }
        }
        .signage_cook {
          @extend .signage_baby;
          li {
            border: 2px solid $brown;
            color: $brown;
          }
        }
      }
    }
  }
}
