@font-face {
  font-family: 'cn_recipe';
  src:url('../fonts/icomoon.eot?y2ywkh');
  src:url('../fonts/icomoon.eot?y2ywkh#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.woff?y2ywkh') format('woff'),
  url('../fonts/icomoon.svg?y2ywkh#icomoon') format('svg'),
  url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  font-family: 'cn_recipe';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon_beans:before {
    content: "\e8db";
}
.icon_boil_well:before {
    content: "\e901";
}
.icon_boli:before {
    content: "\e902";
}
.icon_bread:before {
    content: "\e903";
}
.icon_cook:before {
    content: "\e904";
}
.icon_dress:before {
    content: "\e905";
}
.icon_dry:before {
    content: "\e906";
}
.icon_egg:before {
    content: "\e907";
}
.icon_etc:before {
    content: "\e908";
}
.icon_fish:before {
    content: "\e909";
}
.icon_fly:before {
    content: "\e90a";
}
.icon_fruit:before {
    content: "\e90b";
}
.icon_grill:before {
    content: "\e90c";
}
.icon_meat:before {
    content: "\e90d";
}
.icon_microwave:before {
    content: "\e90e";
}
.icon_milk:before {
    content: "\e90f";
}
.icon_mushroom:before {
    content: "\e910";
}
.icon_noodle:before {
    content: "\e911";
}
.icon_potato:before {
    content: "\e912";
}
.icon_rice:before {
    content: "\e913";
}
.icon_seaweed:before {
    content: "\e914";
}
.icon_shellfish:before {
    content: "\e915";
}
.icon_star:before {
    content: "\e916";
}
.icon_steam:before {
    content: "\e917";
}
.icon_stir_fry:before {
    content: "\e918";
}
.icon_tofu:before {
    content: "\e919";
}
.icon_vegetable:before {
    content: "\e91a";
}
